#grandParent{
    border: 2px solid red;
    height:300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#parent{
    border: 2px solid blue;
    height:250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
#child{
    border: 2px solid green;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}